@model List<TalentosIT.Models.PropostaTrabalho>

@{
    ViewData["Title"] = "Propostas";
    Layout = "~/Views/Shared/LayoutEmpresa.cshtml";
}

<h2>Propostas de Trabalho</h2>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Total Horas</th>
        <th>Estado</th>
        <th>Perfil Destinatário</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var proposta in Model)
    {
        <tr>
            <td>@proposta.Nome</td>
            <td>@proposta.CategoriaTalento</td>
            <td>@proposta.NumTotalHoras</td>
            <td>@proposta.Estado</td>
            <td>@proposta.PerfilTalento?.Nome</td>
            <td>
                <a href="@Url.Action("Edit", "MVCProposta", new { id = proposta.Id })" class="btn btn-warning btn-sm">Editar</a>
                <a href="@Url.Action("Delete", "MVCProposta", new { id = proposta.Id })" class="btn btn-danger btn-sm">Apagar</a>

            </td>
        </tr>
    }
    </tbody>
</table>